In [1]:
import pandas as pd

In [66]:
df = pd.read_csv('Change_Count.csv')

In [67]:
df

,Date,Bitcoin_Change,Binance_Change,Cardano_Change,Ethereum_Change,Litecoin_Change,Monero_Change,Stellar_Change,Tether_Change,Tron_Change,USD_Coin_Change,XRP_Change
0,2022-12-31,0,1.0,1.0,0.0,1,1,0,1.0,1.0,1.0,0
1,2022-12-30,0,0.0,1.0,0.0,1,1,1,1.0,1.0,1.0,1
2,2022-12-29,1,1.0,0.0,1.0,1,0,1,1.0,0.0,1.0,0
3,2022-12-28,0,0.0,0.0,0.0,0,1,0,0.0,1.0,1.0,0
4,2022-12-27,0,1.0,0.0,0.0,0,0,0,1.0,0.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
2552,2016-01-05,0,NaN,NaN,0.0,0,0,0,1.0,NaN,NaN,1
2553,2016-01-04,1,NaN,NaN,0.0,1,1,1,1.0,NaN,NaN,0
2554,2016-01-03,0,NaN,NaN,1.0,0,0,0,1.0,NaN,NaN,0
2555,2016-01-02,0,NaN,NaN,0.0,0,1,0,1.0,NaN,NaN,1
2556,2016-01-01,1,NaN,NaN,1.0,1,1,0,1.0,NaN,NaN,0

In [82]:
df['XRP_Change'].value_counts()

0    1318
1    1239
Name: XRP_Change, dtype: int64